.ui.small.image,
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg {
  width: 100px;
}

.ui.menu .active.item {
  background-color: #977a19;
  color: white;
  width: 7.14em;
  justify-content: center;
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  background-color: rgba(194, 18, 18, 0.08);
}
.ui.menu .active.item:hover {
  background-color: #9b8336;
  color: white;
}
.special {
  width: 7.14em;
  justify-content: center;
  height: 5.5em;
}
.itemCentering {
  width: 7.14em;
  justify-content: center;
  margin-left: -5em;
}
.ui.fixed.menu,
.ui[class*="top fixed"].menu {
  border: none;
  box-shadow: 3px 7px 20px rgb(0 0 0 / 20%);
  /* width: 100%; */
}
.itemLink {
  display: flex;
}
.itemLink:hover {
  text-decoration: unset;
  color: unset;
}
.ui.menu {
  width: 100%;
  background-color: #e6b91e;
}
.active {
  background-color: #9b8336;
  color: white;
}
